# Jupyter checkpoints
.ipynb_checkpoints/

# Datasets
titanic/Titanic-Dataset.csv
netflix/netflix_titles.csv
house_prices/housing.csv
zomato/zomato.csv
zomato/file1.json
zomato/file2.json
zomato/file3.json
zomato/file4.json
zomato/file5.json
zomato/Country-Code.xlsx

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
*.egg-info/